header {
    text-align: center;
    background-color:#818345;
    color: white;
    padding: 1rem;
  }
  #img{
   border-color:orangered;
   border-style: solid;
   border-radius: 50%;
  }
  
  aside {
    background-color: #525332;
    padding: 1rem;
  }
  
  body{
    font-family: sans-serif;
    font-size:110%;
    background-color: #FCF7F8;
  }
  
  footer {
    background-color: #343330;
    text-align: center;
    padding:1rem;
  }
  
  #Menu {
    color: rgb(255, 255, 255);
    text-align: left;
  }
  
  h2 {
    margin: 20px;
  }
  
  h3 {
    margin: 20px;
  }
  p {
    margin: 20px;
  }
  
  #Gmail {
    width: 50px;
    height: 50px;
  }
  
  #Linkedin {
    border-radius: 100%;
  }
  
  #Facebook {
    border-radius: 100%;
  
  }
  section{
    display: flex;
    
  }
  
  a:link{
    color:initial;
  }
  
  a:hover{
    color: darkorange;
  }
  
  a:visited{
    color: darkred;
  }
  
  #Insta {
    border-radius: 100%;
  }
  
  #App {
    height: 50px;
    width: 50px;
    border-radius: 100%;
  }

  .text-center {
    color: aqua;
  }
  @media  screen and (max-width: 700px) {
    section {
      display: contents;
      color: grey;
    }

    footer {
      background-color: black;
      color: white;
    }

    a:link {
      color:yellow;
    }

    a:hover {
      color: black;
    }

    a:visited {
      color: rgb(63, 7, 63);
    }

    header {
      background-image: url(../Images/picture.jpeg);
    }


    aside {
      background-color: rgb(151, 91, 26);
    }
  }

  @media  screen and (min-width: 701px ) {
    section {
      background-color: rgb(0, 0, 0);
      color: rgb(255, 255, 255);
    }

    footer {
      background-color: navy;
      color: rgb(255, 255, 255);
    }

    a:link {
      color: rgb(1, 255, 52);
    }

    a:hover {
      color:silver;
    }

    a:visited {
      color: skyblue;
    }

    header {
      background-color: rgba(255, 38, 0, 0.398);
    }
  }

  @media screen and (min-width: 1001px){
    header {
      text-align: center;
      background-color:#818345;
      color: white;
      padding: 1rem;
    }
    #img{
     border-color:orangered;
     border-style: solid;
     border-radius: 50%;
    }
    
    aside {
      background-color: #525332;
      padding: 1rem;
    }
    
    body{
      font-family: sans-serif;
      font-size:110%;
      background-color: #FCF7F8;
    }
    
    footer {
      background-color: #343330;
      text-align: center;
      padding:1rem;
    }
    
    #Menu {
      color: rgb(255, 255, 255);
      text-align: left;
    }
    
    h2 {
      margin: 20px;
    }
    
    h3 {
      margin: 20px;
    }
    p {
      margin: 20px;
    }
    
    #Gmail {
      width: 50px;
      height: 50px;
    }
    
    #Linkedin {
      border-radius: 100%;
    }
    
    #Facebook {
      border-radius: 100%;
    
    }
    section{
      display: flex;
      
    }
    
    a:link{
      color:initial;
    }
    
    a:hover{
      color: darkorange;
    }
    
    a:visited{
      color: darkred;
    }
    
    #Insta {
      border-radius: 100%;
    }
    
    #App {
      height: 50px;
      width: 50px;
      border-radius: 100%;
    }
  }